
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mongo Scraper</a>
          <a href="/scrape"><button type="button" id="newScrape" class="btn btn-default btn-md">Scrape New Articles</button></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="/saved" id="navSaved">Saved Articles</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container" id="mainDiv">   
      
      <div class="row">
        <div class="col-lg-12">

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="container" id="jumbo">
            <h1>Mongo Scraper</h1>
            <h2>Most Recent ZNet Articles<h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="container" id="scrapeResults">
            {{#each articles}}
              <div class='container articleDivs'>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><a href={{link}} target=_blank>{{title}}</a></h3>
                    <button class='saveButton btn btn-default btn-lg pull-right'>Save Article</button>
                  </div> 
                  <div class="panel-body">
                    <h4>{{excerpt}}<h4>
                  </div>
                </div>
              </div> 
            {{/each}}
          </div>
        </div>
      </div>
    </div>

<!-- modal -->
  <div id="numArticles" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">MONGO WEB SCRAPER</h4>
      </div>
      <div class="modal-body">
        <p>You added {{articles.length}} new articles!</p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- modal -->

       <!-- jquery link -->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>

    <!--  bootstap javascript link -->   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
    <!-- javascript link for home page -->
    <script src="/javascripts/home.js"></script>





