html {
    position: relative;
    min-height: 100%;
}

body {
 	background: url("../images/bgimage.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 0 100px; /* bottom = footer height */
}

.navbar {
	width: 100%;
	margin-bottom: 0;
	background: rgba(0,0,0,0.25);
	border: rgba(0,0,0,0.25);
}

.navbar .navbar-brand {
	color: white;
}

#navSaved {
	color: white;
}

#navHome {
	color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

h1 {
	font-family: 'News Cycle', sans-serif;
	font-size: 160%;
	color: LightSkyblue;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.50);
}

h2 {
	font-size: 55%;
	color: LightSkyblue;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.50);
}

.wrapper {
	margin-bottom:50px;/* Height of footer*/
}

.panel-heading h3 a {
	font-size: 230%;
}

h4 {
	font-size: 150%;
}

.panel {
	background: rgba(249, 184, 109, 0.75);
}

.panel .panel-heading {
	background-color: #ffa94f;
	overflow: auto;
	background: rgba(255, 162, 56, 0.75);
}

#newScrape {
	margin: 8px;
	background-color: LightSkyblue;
	color: white;
	border-color: LightSkyblue;
}

#jumbo {
	text-align: center;
	font-size: 500%;
}

.panel-title a {
	font-size: 1.6em;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: white;
}

.saveButton {
	margin: 1%;
	background-color: #8aa0d8;
}

.leaveNote {
	margin: 1%;
	background-color: #8aa0d8;
	font-size: 135%;
	color: white;
}

.deleteArticle {
	margin: 1%;
	background-color: #5f80d3;
	font-size: 135%;
	color: white;
}

#bodyInput {
	max-width: 500px;
}

.saveNote {
	margin-top: 10px;
}

footer {
	position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
	text-align: center;
	padding-top: 15px;
	font-size: 15px;
	color: white;
	background: rgba(0,0,0,0.25);
	border: rgba(0,0,0,0.25);
}